.promo__image{
    max-width: 722px;
    max-height: 244px;
    margin-right:70px;
    margin-bottom: 60px;
}
@media (max-width: 780px) {
    .promo__image{
        max-width: 680px;
        max-height: 230px;
        margin-right: 44px;
        margin-left: 44px;
        margin-bottom: 44px;
    }
}
@media (max-width: 730px) {
    .promo__image{
        margin: 0;
    }
}
