.profile{
    display: flex;
    max-width: 410px;
    width: 100%;
    margin: auto;
    justify-content: center;
}
.profile__title{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-align: center;
    margin: 0;
}
.profile__text-container{
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    margin-top: 123px;
}
.profile__text-content{
    display: flex;
    justify-content: space-between;
    max-width: 410px;
    width: 100%;
}
.profile__container{
    max-width: 410px;
    width: 100%;
    margin-top: 74px;
}
.profile__links{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
}
.profile__link-redact{
    text-align: center;
}
.profile__link-exit{
    text-align: center;
}
.profile__name{
    border: none;
    border-bottom: 1px black solid;
    margin: 0 0 16px;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    text-align: right;

    color: #000000;
}
.profile__email{
    border: none;
    border-bottom: 1px black solid;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */

    text-align: right;

    color: #000000;
    margin: 17px 0 16px;
}
.profile__text-content:first-of-type{
    border-bottom: 1px solid #E8E8E8;
}
.profile__link-redact{
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    /* identical to box height */
    background: white;
    border: none;
    cursor: pointer;
    text-align: center;

    color: #000000;
    margin-bottom: 16px;
}
.profile__link-exit{

    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;

    color: #FF3055;
}
@media (max-width: 780px) {
    .profile__container{
        margin-top: 236px;
    }
}
@media (max-width: 460px) {
    .profile{
        width: 260px;
    }
    .profile__container{
        margin-top: 70px;
    }
    .profile__links{
        margin-top: 379px;
    }
}

.profile__overlay{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.profile__form{
    background: white;
    display: flex;
    flex-direction: column;
}
.profile__edit-button_novalidate {
    cursor: unset;
}
.profile__popup{
    display: flex;
    background: white;
}
.profile__popup-text{
    padding: 15px;
}
.profile__overlay_active{
    display: flex;
}
