.footer__container{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    width: 100%;
    margin: 20px auto auto;
}

@media (max-width: 710px) {
    .footer__container{
        flex-direction: column-reverse;
    }
}
