.technologies__text{
    margin: 26px 0 0;
    display: flex;
    align-self: center;
    max-width: 460px;
    width: 100%;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;
    letter-spacing: -0.04em;

    color: #000000;
}
