.about__container{
    margin: 70px 70px 0;
    display: flex;
    justify-content: space-between;
    max-width:1280px;
}
@media (max-width: 730px) {
    .about__container{
        flex-direction: column;
    }
}
