.header{
    display: flex;
    margin: auto;
    height: 74px;
    justify-content: space-between;
    background: #073042;
    width: 100%;
    max-width: 1280px;
}
.header__text{
    text-decoration: none;
    margin: 0;
}
.movies__headermain-link{
    color: white;
    font-family: Inter, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    margin-top: 28px;
}
.movies__headermain-link:first-of-type {
    margin-right: 16px;
}
